{% extends "base.html.twig" %}

{% block content %}

<h3>{{ recipe.name }}</h3>
<p>{{ recipe.content }}</p>

{% for tag in tags %}
    <span>
        <a href="{{ path('show_tag', {id: tag.id}) }}"><strong>{{ tag.name }}</strong></a>
    </span>
{% endfor %}
<br/>
<a href="{{ path('update_recipe', {id: recipe.id}) }}">Edit</a>
<a href="{{ path('delete_recipe', {id: recipe.id}) }}">Delete</a>

{% endblock %}
