<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div>
            {% block sidebar %}
                <nav class="bg-white shadow-lg mb-5">
                    <div class="max-w-6xl mx-auto px-4">
                        <div class="flex justify-between">
                            <div class="flex space-x-7">
                                <div class="md:flex item-center space-x-1">
                                    <a href="{{ path('list_recipe') }}" class="py-4 px-2">Recipe</a>
                                </div>

                                <div class="hidden md:flex item-center space-x-1">
                                    <a href="{{ path('list_recipe') }}" class="py-4 px-2 text-green-500 border-b-4 border-green-500 font-semibold" >Home</a>
                                    <a href="{{ path('create_recipe') }}" class="py-4 px-2 text-gray-500  border-green-500 font-semibold" >Create Recipe</a>
                                    <a href="{{ path('new_tag') }}" class="py-4 px-2 text-gray-500  border-green-500 font-semibold" >Create Tag</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            {% endblock %}
        </div>
        {% block content %}{% endblock %}
    </body>
</html>
